@import "../base/vars";

.contacts-inner {
    position: relative;
    top: -97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $dark;

    @media (max-width: 599px) {
        flex-direction: column;
    }
}

.contacts-content {
    color: $white;
    margin: 55px 0 59px 58px;

    @media (max-width: 1199px) {
        margin: 30px 5px 35px 25px;
    }

    @media (max-width: 899px) {
        font-size: 14px;
    }

    @media (max-width: 799px) {
        margin-right: 20px;
    }

    @media (max-width: 599px) {
        font-size: 16px;
        margin: 46px 36px 66px 23px;
    }

    .contacts-content__item {
        display: flex;
        margin-bottom: 32px;

        @media (max-width: 599px) {
            margin-bottom: 28px;
        }

        &:last-child {
            margin-bottom: 0;

            .contacts-content__text {
                @media (max-width: 399px) {
                    width: 60%;
                }
            }
        }
        
        .contacts-content__text {
            line-height: 19px / 16px * 100%;
            margin-left: 18px;

            @media (max-width: 899px) {
                margin-left: 14px;
            }

            @media (max-width: 599px) {
                margin-left: 18px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}

.contacts-question {
    color: $white;
    margin-right: 100px;

    @media (max-width: 1199px) {
        margin-right: 15px;
    }

    @media (max-width: 599px) {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts-question__title {
        font-family: 'Ubuntu';
        font-size: 25px;
        line-height: 106.4%;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 26px;
        color: $white;

        @media (max-width: 1199px) {
            margin-bottom: 20px;
        }

        @media (max-width: 899px) {
            font-size: 20px;
            margin-bottom: 15px;
        }

        @media (max-width: 799px) {
            margin: 10px 0;
        }

        @media (max-width: 599px) {
            margin-bottom: 28px;
            margin-top: 0;
        }
    }

    .contacts-call {
        margin-bottom: 20px;

        @media (max-width: 799px) {
            max-width: 229px;
            margin-bottom: 10px;
        }

        @media (min-width: 699px) and (max-width: 799px) {
            margin-right: 55px;
        }

        @media (max-width: 599px) {
            margin-bottom: unset
        }

        p {
            font-size: 12px;
            line-height: 15px;
            max-width: 483px;
            color: $white;  
            margin-bottom: 10px;
            
            a {
                text-decoration: none;
                color: inherit;
                position: relative;
            }
        }
    }
}

