@import "../base/vars";

.intro {
    background: $dark url("../template/images//intro/intro-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 518px;

    @media (max-width: 599px) {
        background: $dark url("../template/images/intro/intro-mbl.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}

.intro__info {
    color: $white;
    padding-top: 193px;

    @media (max-width: 699px) {
        padding-top: 155px;
    }

    h1 {
        line-height: 105%;
        margin-bottom: 20px;
    }

    .intro__info--subtitle {
        font-size: 20px;
        line-height: 24px / 20px * 100%;
        margin-bottom: 20px;
        max-width: 393px;

        @media (max-width: 699px) {
            font-size: 16px;
            margin-bottom: 31px;
        }

        @media (max-width: 499px) {
            font-size: 14px;
        }
    }
}
