@import "../base/vars";

.news {
    margin-top: 67px;
    height: 432px;

    @media (max-width: 799px) {
    margin-top: 41px;
    }

    .news__slider {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
}

.news__info {
	width: 54.6%;
	height: 100%;
	overflow: hidden;
	display: inline-block;
	position: relative;

    @media (max-width: 799px) {
        width: 100%;
        overflow: unset;
    }
}

.newsSwiper {
	width: 100%;
	height: 100%;
}

.slider-dots {
	width: 43.9% !important;
	height: 100%;
	display: inline-block;
    overflow: hidden;

    .slider-dots-track {
        position: relative;
        transition: 400ms ease;
        display: flex;
        height: 100%;
        top: 0;
    }
}

.news__inner {
    margin: 280px 15px 0 30px;

    .news__inner--title {
        font-family: 'Ubuntu', sans-serif;
        font-size: 25px;
        line-height: 26.6px / 25px * 100%;
        font-weight: 500;
        margin-bottom: 11px;
        color: $white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media (max-width: 999px) {
            font-size: 20px;
        }

        @media (max-width: 499px) {
            font-size: 25px;
            line-height: 43px / 35px * 100%;
            margin-bottom: 21px;
        }
    }

    .news__inner--text {
        color: $white;
        @media (min-width: 499px) {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 14px;
            line-height: 159%;
            }

            @media (max-width: 499px) {
                font-size: 14px;
                line-height: 25px / 16px * 100%;
                margin-bottom: 48px;
            }
    }

    .news__inner--bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.slide {
	font-size: 18px;
	background: #ccc;
	width: 100%;
	height: 100%;

    .news__content {
        max-width: 593px;
        padding: 77px 15px 0 15px;
        margin-left: auto;
        margin-right: 114px;

        @media (max-width: 899px) {
            margin-right: 0;
        }

        @media (max-width: 799px) {
            margin-left: unset;
        }

        .news__title {
            font-size: 35px;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
            line-height: 43px / 35px * 100%;
            margin-bottom: 42px;
            text-transform: uppercase;
            color: $white;

            @media (max-width: 1199px) {
                font-size: 30px;
            }

            @media (max-width: 1089px) {
                margin-bottom: 20px;
            }

            @media (max-width: 899px) {
                margin-bottom: 20px;
            }


            @media (max-width: 499px) {
                font-size: 25px;
            }
        }

        .news__text {
            font-size: 16px !important;
            line-height: 25px / 16px * 100%;
            margin-bottom: 29px;
            color: $white;

            @media (max-width: 699px) {
                font-size: 14px !important;
            }
        }

        .news__link {
            text-decoration: none;
            display: inline-block;
        }
    }

    .news__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

.news__nav {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 99px;
	height: 40px;
	display: flex;
    justify-content: flex-end;
    z-index: 10;
    margin-right: 9px;
    margin-bottom: 7px;

    .news__nav--prev,
    .news__nav--next {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news__nav--prev {
        background-color: $news__nav--prev;
        transition: all .2s linear;
        margin-right: 19px;

        @media (max-width:499px) {
            display: none;
        }

        &:hover {
            background-color: $white;
        }
    }

    .news__nav--next {
        background-color: $white;
        transition: all .2s linear;

        &:hover {
            background-color: $light;
        }
    }
} 


.swiper-pagination-bullet {
    margin: 0 !important;
	border-radius: 0;
	width: auto;
	height: 30px;
	opacity: 1;
	background: rgba(0,0,0,0.2);
	cursor: pointer;
	transition: 300ms ease;
}

.swiper-pagination-bullet-active {
	color:#fff;
	background: unset;
}


.block {
	min-width: 33%;
	height: 100%;
    position: relative;

    @media (max-width: 1399px) {
        min-width: 50%;
    }

    @media (max-width: 799px) {
        display: none;
    }

    &:before {
        content: "";
        width: 175px;
        height: 59px;
        background-image: url(../template/svg/news/news-logo.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
        z-index: 10;
        position: absolute;
        top: 60px;
        left: 54px;
        
        @media (max-width: 1799px) {
            left: 40px;
            width: 150px;
        }

        @media (max-width: 1449px) {
            left: 30px;
            width: 135px;
        }

        @media (max-width: 1399px) {
            width: 165px;
            left: 40px;
        }

        @media (max-width: 999px) {
            width: 130px;
            left: 30px;
            top: 70px;
        }

        @media (max-width: 799px) {
            width: 175px;
            left: 60px;
        }
    }
}

