@import "../base/vars";

.partners {
    position: relative;
}

.partners_bg {
    position: absolute;
    top: -47px;
    left: 0;
    width: 51%;
    height: 248px;
    background-color: $dark;
    
    @media (max-width: 1299px) {
        width: 55%;
    }

    @media (max-width: 799px) {
        width: 100%;
        top: -54px;
        height: 220px;
    }

    @media (max-width: 499px) {
        top: -40px;
    }
}

.partners__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 799px) {
        flex-wrap: wrap;
    }
}

.partners__info {
    position: relative;
    z-index: 10;
    color: $white;
    width: 39%;
    margin-top: 20px;

    @media (max-width: 1299px) {
        width: 44%;
    }

    @media (max-width: 999px) {
        width: 50%;
        margin-top: 0;
    }

    @media (max-width: 799px) {
        width: 100%;
    }

    .partners__info--title {
        color: $white;
        margin-bottom: 28px;
    }

    .partners__info--text {
        line-height: 25px / 16px * 100%;

        @media (max-width: 499px) {
            font-size: 14px;
        }
    }
}

.partners__slider {
    width: 44%;
    text-align: center;
    position: relative;
    padding-top: 48px;

    @media (max-width: 899px) {
        width: 40%;
    }

    @media (max-width: 799px) {
        width: 100%;
        margin-top: 65px;
    }

    @media (max-width: 499px) {
        margin-top: 55px;
    }

    @media (max-width: 399px) {
        margin-top: 42px;
    }

    .swiper-scrollbar-drag {
        background: $dark;
        height: 3px;
        border-radius: 0;
    }
    .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
        height: 3px;
        top: 168px;
        z-index: 10 !important;

        @media (max-width: 799px) {
            top: 144px;
        }

        @media (max-width: 499px) {
            top: 155px;
        }
    }
}