@import "../base/vars";

.catalog_page {
    padding-bottom: 55px;

    @media (max-width: 699px) {
        padding-bottom: 75px;
    }

    .catalog-content {
        margin-top: 50px;

        @media (max-width: 499px) {
            margin-top: 30px;
        }
    }

    .catalog-content__item{
        &::before {
            display: none;
        }

        &:hover {
            cursor: default; 

            .item-info__title {
                color: inherit;
            }
        
            .item-image {
                opacity: unset;
            }
        
            .item--button {
                color: $white;
                background-color: $dark;
                transition: all .2s linear;
        
                &:hover {
                    color: $dark;
                    background-color: $white;
                    border: 1px solid $dark;
                }
            }
        
            .item-info {
                width: 60%;
            }
        }
    }

    .contacts {
        margin-top: 20px;

        .contacts-inner {
            position: unset;
        }

        h3 {
            color: $white;
        }
    }
}