@import "./vars";

.about {
    margin-top: 55px;
    position: relative;

    @media (max-width: 799px) {
        margin-top: 28px;
    }
}

.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 799px) {
        flex-direction: column;
    }
}

.about__info {
    width: 35%;

    @media (max-width: 799px) {
        width: 100%;
        margin-bottom: 46px;
    }

    .about__info--text {
        line-height: 24px / 16px * 100%;
        margin-top: 35px;
        margin-bottom: 42px;

        @media (max-width: 799px) {
            margin: 30px 0 35px 0;
        }

        @media (max-width: 399px) {
            margin: 18px 0 20px 0;
            font-size: 14px;
        }
    }

}

.about__content {
    z-index: 10;
    width: 59.7%;
    background: $dark url(../template/images/about/about-block.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    @media (max-width: 799px) {
        width: 100%;
    }

    @media (max-width: 499px) {
        background-position: right;
    }
}

.about__content--info {
    width: 65.3%;
    margin-top: 72px;
    margin-left: 102px;
    margin-bottom: 52px;
    color: $white;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;

    @media (max-width: 1099px) {
        margin-left: 60px;
        width: unset;
    }

    @media (max-width: 799px) {
        margin-left: 35px;
        width: 65%;
    }

    @media (max-width: 499px) {
        margin-left: 15px;
        width: 90%;
    }

    .about__content--years {
        font-size: 66px;
        line-height: 106.4%;
        font-weight: 500;
        margin-bottom: 50px;

        @media (max-width: 1099px) {
            font-size: 60px;
        }

        @media (max-width: 799px) {
            font-size: 55px;
        }
    }

    .about__content--subtitle {
        font-size: 35px;
        font-weight: 700;
        line-height: 122.4%;
        
        @media (max-width: 1099px) {
            font-size: 30px;
        }

        @media (max-width: 799px) {
            font-size: 25px;
        }
    }
}

.about_bg {
    position: absolute;
    top: -21px;
    right: 0;
    width: 53.54%;
    height: 400px;
    background-color: $light;

    @media (max-width: 799px) {
        display: none;
    }
}