@import "./vars";

// Intro
.btn {
    background-color: transparent;
    color: $dark;
    font-size: 16px;
    line-height: 25.44px / 16px * 100%;
    padding: 10px 16px;
    cursor: pointer;
    border: 1px solid $dark;
    transition: color .2s linear;

    &:hover {
        background-color: $dark;
        color: $white;
    }

}

.btn--solid {
    background-color: $white;
    color: $dark;
    font-size: 16px;
    line-height: 24px / 16px * 100%;
    padding: 10px 32px 10px 30px;
    cursor: pointer;
    border: 2px solid $white;
    transition: color .2s linear;

    &:hover {
        background-color: transparent;
        border: 2px solid $white;
        color: white;
    }
}

//Catalog
.catalog--button {
    @media(max-width: 499px) {
        font-size: 12px;
        padding: 8px 10px 8px 15px;
    }
}

.item--button {
    color: $white;
    background-color: $dark;

    &:hover {
        background-color: $white;
        color: $dark;
        border: 2px solid $dark;
    }
}

//About
.about--button {
    color: $white;
    background-color: $dark;

    &:hover {
        background-color: $white;
        color: $dark;
        border: 2px solid $dark;
    }
}

//Contacts 
.contacts--call {
    color: $white;
    border: 1px solid $white;
    background-color: transparent;
    margin-right: 25px;

    &::placeholder {
        color: $white;
        font-size: 16px;
        line-height: 24px;
    }

}