@import "./vars";

.intro {
    background: $dark url("../template/images/intro-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}