@import "./vars";

.intro {
    background: $dark url("../template/images//intro/intro-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 518px;

}

.intro__info {
    color: $white;
    padding-top: 193px;

    .intro__info--title {
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        font-weight: 500;
        line-height: 42px / 40px * 100%;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .intro__info--subtitle {
        font-size: 20px;
        line-height: 24px / 20px * 100%;
        margin-bottom: 20px;
    }

    .intro__info--button {
        margin-bottom: 106px;
    }
}
