// Base
@import "./base/fonts";
@import "./base/reset";
@import "./base/vars";
@import "./base/btns";

// Template
.template {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.lock {
    overflow: hidden;
}

// Container
.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

// Global
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px / 40px * 100%;
    text-transform: uppercase;

    @media (max-width: 799px) {
        font-size: 35px;
    }

    @media (max-width: 699px) {
        font-size: 30px;
    }

    @media (max-width: 399px) {
        font-size: 25px;
    }
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    line-height: 37px / 35px * 100%;
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: 799px) {
        font-size: 30px;
    }

    @media (max-width: 699px) {
        font-size: 25px;
    }

    @media (max-width: 399px) {
        font-size: 20px;
    }
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 106.4%;
    color: #111;
    text-transform: uppercase;

    @media (max-width: 399px) {
        font-size: 20px;
    }
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    line-height: 159%;
    font-weight: 400;
    color: #111;

    @media (max-width: 399px) {
        font-size: 20px;
    }
}

h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    color: #111;
}

p {
    font-size: 16px;
    line-height: 160%;
    color: #111;
    margin-top: 15px;

    @media (max-width: 499px) {
        font-size: 14px;
    }
}

a {
    text-decoration: none;
}

ul, ol {
    margin-top: 15px;
    color: #111;

    li {
        @media (max-width: 499px) {
            font-size: 14px;
        }
    }
}

/* 
    Breadcrumbs 
*/

.breadcrumbs{
    padding-bottom: 47px;
    padding-top: 28px;

    @media (max-width: 499px) {
        padding-bottom: 30px;
    }
}

.breadcrumbs_list {
    list-style: none;

    li {
        display: inline;

        &:not(:last-child)::after {
            position: static;
            content: "/";
            margin: 0 5px;
            color: $breadcrumbColor;
        }

        &:last-child {
            a {
                color: #111 !important;
                pointer-events: none;
            }
        }

        a {
            color: $breadcrumbColor !important;
            text-decoration: none;
            transition: color .2s ease;

            &:hover {
                color: #111 !important;
            }
        }
    }
}

// Map
.map {
    margin-top: 67px;
    height: 436px;
    filter: grayscale(1);

    @media (max-width: 799px) {
        margin-top: 41px;
    }
}

// Stepper
.stepper {
    display: flex;
    height: 55px;
    width: fit-content;
    border: 1px solid $stepperborder;

    user-select: none;

    input {
        width: 7.4ex;
        border: none;
        text-align: center;
        border-left: 1px solid $stepperborder;
        border-right: 1px solid $stepperborder;
    }

    input[type="text"] {
        padding: 0;
    }

    button {
        border: none;
        width: 33px;
        background-color: transparent;
        transition: background-color .2s linear;
        color: #111;
        
        &:hover {
            background-color: $light;
        }

        &.disabled {
            pointer-events: none;
        }
    }
}

/* 
    Header 
*/
@import "./global/header";

/* 
    Footer 
*/
@import "./global/footer";

/* 
    Pages
*/

// Main page
@import "./main_page/mainpage";

// Text page
@import "./text_page/textpage";

// Contact page
@import "./contact_page/contactpage";

// Catalog page
@import "./catalog_page/catalog";

// Error pages
@import "./error_pages/error";

// Goods pages
@import "./goods_pages/goods";
@import "./goods_pages/product";

// Cart pages
@import "./cart_pages/cart";
