@import "./fonts";
@import "./reset";
@import "./vars";
@import "./btns";

// Template
.template {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.lock {
    overflow: hidden;
}

// Container
.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

// Reusable 
.sectionTitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    line-height: 37px / 35px * 100%;
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: 799px) {
        font-size: 30px;
    }

    @media (max-width: 699px) {
        font-size: 25px;
    }

    @media (max-width: 399px) {
        font-size: 20px;
    }
}

@import "./header";
@import "./intro";
@import "./partners";
@import "./catalog";
@import "./about";
@import "./news";

.map {
    margin-top: 67px;
    height: 436px;
    filter: grayscale(1);

    @media (max-width: 799px) {
        margin-top: 41px;
    }
}

@import "./contacts";
@import "./footer";