@import "../base/vars";

.textpage {
    padding-bottom: 55px;

    @media (max-width: 699px) {
        padding-bottom: 75px;
    }

    a {
        color: $dark;
        text-decoration: none;
    }

    p {
        line-height: 160%;
    }
}

.title-text {
    p {
        margin-top: 22px;
        color: #111;

        @media (max-width: 499px) {
            font-size: 14px;
            margin-top: 18px;
        }
    }
}

// INTRO-GALLERY
.intro-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;

    @media (max-width: 699px) {
        flex-direction: column;
        align-items: center;
    }

    a {
        width: 31.6%;

        @media (max-width: 699px) {
            width: 80%;
            margin-bottom: 15px;
        }

        &:last-child {
            @media (max-width: 699px) {
                margin-bottom: 0;
            }
        }

        img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        }
    }
}

// BG-TEXT-IMG
.bg-text-img {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;

    @media (max-width: 799px) {
        flex-direction: column;
    }
}

.bg-text-img__content {
    color: $white;
    width: 483px;
    background-color: $dark;
    margin-right: 20px;

    @media (max-width: 999px) {
        margin-right: 10px;
    }

    @media (max-width: 799px) {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        margin-bottom: 15px;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $dark;
        height: 100%;
        width: 360px;
        z-index: -1;

        @media (max-width: 1230px) {
            width: 30px;
        }

        @media (max-width: 799px) {
            content: none;
        }
    }

    .content_inner {
        margin: 57px 42px 15px 15px;

        @media (max-width: 1440px) {
            margin-right: 20px;
        }

        @media (max-width: 1199px) {
            margin-top: 35px;
            margin-bottom: 40px;
        }


        p {
            margin-top: 28px;

            @media (max-width: 999px) {
                margin-top: 15px;
            }

            @media (max-width: 499px) {
                font-size: 14px;
            }
        }
    }
}

.bg-text-img__preview {
    width: 57.25%;

    @media (max-width: 799px) {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        height: 400px;
    }

    @media (max-width: 699px) {
        height: 350px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
}

// TITLE-UL
.title-ul {
    margin-top: 60px;

    @media (max-width: 399px) {
        margin-top: 40px;
    }
}

.title-ul__content {
    margin-top: 28px;
    color: #111;
    line-height: 160%;
    max-width: 995px;
    font-size: 16px;

    @media (max-width: 499px) {
        font-size: 14px;
        margin-top: 18px;
    }

    ul {
        margin-left: 30px;

        @media (max-width: 499px) {
            margin-left: 15px;
        }
    }

    li {
        margin-top: 5px;
    }
}

// IMG-TEXT
.img-text {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1299px) {
        align-items: unset;
    }

    @media (max-width: 799px) {
        flex-direction: column;
    }
}

.img-text__content {
    color: #111;
    max-width: 51.2%;
    font-size: 16px;

    @media (max-width: 799px) {
        max-width: unset;
    }
}

.img-text__preview {
    width: 42.75%;

    @media (max-width: 1440px) {
        width: 45%;
    }

    @media (max-width: 799px) {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        margin-bottom: 15px;
        height: 400px;
    }

    @media (max-width: 699px) {
        height: 300px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
}

// TITLE-OL
.title-ol {
    margin-top: 50px;

    @media (max-width: 499px) {
        margin-top: 40px;
    }

    .title-ol__content {
        margin-top: 20px;
        color: #111;
        width: 995px;

        @media (max-width: 999px) {
            width: unset;
        }

        @media (max-width: 499px) {
            font-size: 14px;
            margin-top: 18px;
        }

        ol {
            margin-left: 30px;

            @media (max-width: 499px) {
                margin-left: 15px;
            }
        }

        li {
            list-style: decimal;
            margin-top: 5px;
        }
    }
}

// QUOTE
.quote {
    margin-top: 50px;
}

.quote__content {
    color: $white;
    background-color: $dark;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 47px 100px 47px 99px;
    
    @media (max-width: 999px) {
        padding: 47px 80px;
    }

    @media (max-width: 799px) {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        padding: 47px 60px;
    }

    @media (max-width: 499px) {
        font-size: 14px;
    }

    svg {
        position: absolute;

        &:first-child {
            left: 40px;
            top: 30px;

            @media (max-width: 799px) {
                left: 25px;
            }
        }

        &:last-child {
            right: 40px;
            bottom: 30px;

            @media (max-width: 799px) {
                right: 25px;
            }
        }
    }
}

// GALLERY
.gallery {
    margin-top: 50px;
}

.gallery__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    width: 31.6%;
    margin-top: 30px;
    position: relative;
    cursor: pointer;

    @media (max-width: 799px) {
        width: 49.25%;
    }

    @media (max-width: 599px) {
        width: 100%;
    }

    &::after {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .5s ease;
        content: url('../template/svg/textpage/lens.svg');
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.gallery-item:nth-child(n + 7){
    display: none;

    &.is-visible {
        display: block;
    }
}

.gallery-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn--showMore {
    color: $white;
    background-color: $dark;
    border: 1px solid $dark;
    transition: all .2s ease;

    &:hover {
        color: $dark;
        background-color: $white;
        border: 1px solid $dark;
    }

    &.clicked
     {
        display: none;
    }
}

// TABLE
.table {
    margin-top: 50px;

    table {
        margin-top: 25px;
        color: $tabletext;
        width: 100%;
        border-collapse: collapse;

        tr {
            &:first-child {
                background-color: $dark;
                color: $white;
            }
        }

        td {
            border-right: 1px solid $tableborder;
            font-size: 14px;
            line-height: 170%;

            padding: 10px 0 10px 15px;

            @media (max-width: 599px) {
                width: unset !important;
            }

            @media (max-width: 499px) {
                padding-left: 5px;
                padding-right: 5px;
            }

            &:first-child {
                width: 23.16%;

                @media (max-width: 799px) {
                    width: 30%;
                }
            }

            &:nth-child(2) {
                width: 19.6%;

                @media (max-width: 799px) {
                    width: 25%;
                }
            }

            &:last-child {
                border: 0;
            }

        }
    }
}
