@import "../base/vars";

.error_page {
    padding-bottom: 75px;

    h1 {
        max-width: 896px;

        @media (max-width: 999px) {
            max-width: unset;
        }
    }

    .error-content {
        display: flex;
        justify-content: space-between;
        margin-top: 28px;

        @media (max-width: 870px) {
            flex-direction: column;
        }
 
    }

    .error-info {
        display: flex;
        flex-direction: column;

        p {
            color: #111;
            line-height: 160%;

            @media (max-width: 490px) {
                font-size: 14px;
            }
        }
    }
}

.error-buttons {
    margin-top: 39px;
    display: flex;
    align-items: center;
    height: 55px;

    @media (max-width: 999px) {
        margin-top: 30px;
    }

    @media (max-width: 499px) {
        flex-direction: column;
        height: fit-content;
    }

    button {
        width: 210px;
        height: 100%;
        transition: all .2s linear;
        color: #111;
        border-color: #111;

        @media (max-width: 999px) {
            width: 200px;
        }
    }

    button:first-child {
        margin-right: 18px;
        color: $white;
        background-color: $dark;
        border: 1px solid $dark;
        padding: 15px 25px;

        @media (max-width: 999px) {
            padding: 3px 15px;
        }

        @media (max-width: 499px) {
            margin-right: 0;
            padding: 10.5px 20px;
            margin-bottom: 10px;
        }

        &:hover {
            color: $dark;
            background-color: $white;
            border: 1px solid $dark;
        }
    }
}


.error-preview {
    max-width: 400px;
    margin-right: 50px;

    @media (max-width: 999px) {
        margin-right: 0;
    }

    @media (max-width: 870px) {
        margin: 0 auto;
        margin-top: 54px;
    }

    @media (max-width: 499px) {
        margin-top: 35px;
    }
    
    img {
        width: 100%;
        height: auto;
    }
}

.error503 {
    margin-top: 54px;

    @media (max-width: 499px) {
        margin-top: 35px;
    }
}