@import "./vars";
//Intro
.btn {
    background-color: transparent;
    color: $dark;
    font-size: 16px;
    line-height: 25.44px / 16px * 100%;
    padding: 10px 16px;
    cursor: pointer;
    border: 1px solid $dark;
    transition: color .2s linear;
    user-select: none;

    &:hover {
        background-color: $dark;
        color: $white;
    }

}

.btn--solid {
    background-color: $white;
    color: $dark;
    font-size: 16px;
    line-height: 24px / 16px * 100%;
    padding: 10px 32px 10px 30px;
    cursor: pointer;
    border: 2px solid $white;
    transition: color .2s linear;
    user-select: none;

    &:hover {
        background-color: transparent;
        border: 2px solid $white;
        color: white;
    }
}

//Header
.empty--button {
    background-color: $dark;
    color: $white;

    &:hover {
        color: $dark;
        background-color: $white;
        border: 1px solid $dark;
    }
}

//Catalog
.catalog--button {
    @media(max-width: 499px) {
        font-size: 12px;
        padding: 8px 10px 8px 15px;
    }
}

.item--button {
    color: $white;
    background-color: $dark;
    border: 1px solid $dark;
    width: 150px;

    &:hover {
        background-color: $white;
        color: $dark;
        border: 2px solid $dark;
    }
}

//About
.about--button {
    color: $white;
    background-color: $dark;

    &:hover {
        background-color: $white;
        color: $dark;
        border: 2px solid $dark;
    }
}

//News
.news--button {
    max-height: 55px;
}

//Contacts 
.contacts--phone {
    color: $white;
    border: 1px solid $white;
    background-color: transparent;
    margin-right: 25px;

    &::placeholder {
        color: $white;
        font-size: 16px;
        line-height: 24px;
    }

    @media (max-width: 1199px) {
        margin-right: 15px;
    }
    
    @media (max-width: 799px) {
        width: 229px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    @media (max-width: 599px) {
        margin-bottom: 28px;
    }

    &.error {
        border: 1px solid $error;

        &::placeholder {
            color: $error;
        }
    }

    &:active {
        border: 1px solid $active;
    }
}

.contacts--call {
    @media (max-width: 799px) {
        width: 229px;
    }
}