/*
    Fonts
*/
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter/Inter-Regular/Inter-Regular.eot');
	src: url('../fonts/Inter/Inter-Regular/Inter-Regular.ttf') format('truetype'), url('../fonts/Inter/Inter-Regular/Inter-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.eot');
	src: local('☺'), url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.woff') format('woff'), url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.ttf') format('truetype'), url('../fonts/Ubuntu/Ubuntu-Medium/Ubuntu-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}   