/* Colors */
// Global
$dark: #00233E;
$light: #F3F3F3;
$white: #FFFFFF;

// Header
$dropdown: #88bcdfb5;

// News
$news__nav--prev: #ABABAB;

// Contacts
$error: #FF0000;
$active: #CACACA;

// Breadcrumbs 
$breadcrumbColor: #606060;

// Textpage
$tabletext: #393939;
$tableborder: #D3D3D3;

// Goods page
$sort: #777777;
$goodsborder: #D7D7D7;


// Product page
$product_nav: #606060;
$stepperborder: #9F9F9F;
$tablistborder: #606060;

