@import "../base/vars";

.contact_page {
    padding-bottom: 55px;

    @media (max-width: 699px) {
        padding-bottom: 75px;
    }

}

.contacts_info {
    position: relative;
}

.contacts_items {
    margin-top: 55px;
    color: #111;

    @media (max-width: 799px) {
        margin-top: 35px;
    }

    @media (max-width: 499px) {
        font-size: 14px;
    }
}

.contact_items--item {
    display: flex;
    margin-top: 32px;

    a {
        text-decoration: none;
        color: inherit;
    }

    svg {
        margin-right: 18px;
    }
}

.contacts_question {
    background-color: $dark;
    color: $white;
    width: 56.1%;
    position: absolute;
    right: 0;
    top: 83px;
    z-index: 10;

    @media (max-width: 799px) {
        width: 100%;
        top: 280px;
    }

    @media (min-width: 799px) and (max-width: 925px) {
        width: 50%;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    h3 {
        color: $white;
    }
}

.question_inner {
    padding-top: 53px;
    padding-left: 94px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (min-width: 799px) and (max-width: 1099px) {
        padding-left: 25px;
    }

    @media (min-width: 799px) and (max-width: 925px) {
        padding-top: 35px;
        align-items: center;
    }

    @media (max-width: 799px) {
        padding: 35px 15px 0 25px;
    }

    @media (max-width: 525px) {
        align-items: center;
    }

    @media (max-width: 399px) {
        padding-top: 30px;
    }

    .contacts__call {
        margin-top: 45px;

        @media (min-width: 799px) and (max-width: 925px) {
            display: flex;
            flex-direction: column;
        }

        @media (max-width: 525px) {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
        }

        @media (max-width: 399px) {
            margin-top: 20px;
        }
    }
    
    .contacts--call {
        width: 229px;
        
    }

    .contacts--phone {
        @media (min-width: 320px) and (max-width:799px) {
            margin-bottom: 0;
        }

        @media (max-width: 525px) {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

    input {
        @media (min-width: 799px) and (max-width: 925px) {
            margin-right: 0;
            margin-bottom: 15px;
        }

        @media (max-width: 799px) {
            margin-right: 15px;
        }
    }

    .confidency {
        font-size: 12px;
        line-height: 15px;
        margin-top: 33px;
        margin-bottom: 73px;
    
        @media (min-width: 999px) {
            width: 483px;
        }

        @media (max-width: 925px) {
            margin-bottom: 50px;
        }

        @media (min-width: 799px) and (max-width: 925px) {
            text-align: center;
        }

        @media (max-width: 525px) {
            margin: 25px 0 30px 0;
            text-align: center;
        }

        @media (max-width: 399px) {
            text-align: unset;
        }
    }
}

.contacts_map {
    margin-top: 40px;
    filter: grayscale(1);

    @media (max-width: 799px) {
        margin-top: 160px;
    }
}
