@import "../base/vars";

.goods_page {
    padding-top: 96px;
    padding-bottom: 55px;

    @media (max-width: 999px) {
        padding-top: 55px;
    }

    @media (max-width: 699px) {
        padding-bottom: 75px;
    }

    @media (max-width: 499px) {
        padding-top: 40px;
    }

    .contacts {
        margin-top: 40px;
        position: unset;
    }

    .contacts__inner {
        position: unset;
    }
}

.goods_content {
    margin-top: 42px;

    @media (max-width: 699px) {
        margin-top: 25px;
    }

    span {
        line-height: 233%;
        font-weight: 500;
        color: #111;
    }

    .goods_sort {
        color: $sort;

        button {
            font-weight: 500;
            line-height: 233%;
            color: $sort;
            font-size: 16px;
            border: 0;
            padding: 0;
            transition: color .3s ease;
            padding-left: 13px;
            background: none;
    
            &:hover {
                color: #111;
                cursor: pointer;
            }
        }
    }
}

.goods_buttons {
    margin-top: 24px;
    display: flex;
    align-items: center;

    .goods--cart {
        padding: 10px 21px 3px 16px;
        transition: all .2s ease;

        svg {
            path {
                fill: $dark;
                transition: all .2s ease;
            }
        }

        &:hover {
            svg {
                path {
                    fill: $white;
                }
            }
        }
    }

    .goods--button {
        margin-left: 23px;
        color: $white;
        background-color: $dark;
        border: 1px solid $dark;
        transition: all .2s ease;

        &:hover {
            color: $dark;
            background-color: $white;
        }
    }
}

.goods_items {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1299px) {
        justify-content: center;
    }
}

.goods_item {
    margin-bottom: 30px;
    margin-right: 12px;
    width: 286px;
    border: 1px solid $goodsborder; 

    @media (max-width: 1299px) {
        margin-right: 20px;
    }

    @media (max-width: 599px) {
        margin-right: 0;
    }
}

.goods_item--inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 23px 22px 25px 21px;

    .goods_title {
        margin-top: 23px;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #111;
        font-weight: 700;
    }

    .goods_price {
        margin-top: 20px;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #111;
        font-weight: 600;
    }

    .goods_preview {
        position: relative;
        height: 200px;
        display: flex;
        justify-content: center;
        width: 100%;

        img {
            position: absolute;
            bottom: 0;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.goods_showMore {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.goods_item:nth-child(n + 13){
    display: none;

    &.is-visible {
        display: block;
    }
}