@import "../base/vars";

.goods_page {
    padding-bottom: 55px;

    @media (max-width: 999px) {
        padding-top: 55px;
    }

    @media (max-width: 699px) {
        padding-bottom: 75px;
    }

    @media (max-width: 499px) {
        padding-top: 40px;
    }

    .contacts {
        margin-top: 40px;
        position: unset;
    }

    .contacts-inner {
        position: unset;
    }
}

.goods-sort {
    color: $sort;
    margin-top: 42px;

    @media (max-width: 699px) {
        margin-top: 25px;
    }

    button {
        font-weight: 500;
        line-height: 233%;
        color: $sort;
        font-size: 16px;
        border: 0;
        padding: 0;
        transition: color .3s ease;
        padding-left: 13px;
        background: none;

        @media (max-width: 499px) {
            padding-left: 5px;
            line-height: 1;
        }

        &:hover {
            color: #111;
            cursor: pointer;
        }
    }

    span {
        line-height: 233%;
        font-weight: 500;
        color: #111;
    }
}

.goods-item__buttons {
    margin-top: 24px;
    display: flex;
    align-items: center;

    .goods--cart {
        padding: 10px 21px 3px 16px;
        transition: all .2s ease;

        svg {
            path {
                fill: $dark;
                transition: all .2s ease;
            }
        }

        &:hover {
            svg {
                path {
                    fill: $white;
                }
            }
        }
    }

    .goods--button {
        margin-left: 23px;
        color: $white;
        background-color: $dark;
        border: 1px solid $dark;
        transition: all .2s ease;

        &:hover {
            color: $dark;
            background-color: $white;
        }
    }
}

.goods-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1299px) {
        justify-content: center;
    }
}

.goods-item {
    margin-bottom: 30px;
    margin-right: 12px;
    width: 286px;
    border: 1px solid $goodsborder; 
    user-select: none;

    @media (max-width: 1299px) {
        margin-right: 20px;
    }

    @media (max-width: 599px) {
        margin-right: 0;
    }
}

.goods-item:hover {
    background-color: #FAFAFA;
    transition: all .3s ease;
    cursor: auto;
}

.goods-item__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    padding: 23px 22px 25px 21px;

    .goods-item__new {
        border: 1px solid #008AD6;
        padding: 9px 9px 8px 8px;
        position: absolute;
        top: 13px;
        left: 12px;

        span {
            color: $dark;
            display: block;
            line-height: 1;
        }
    }

    .goods-item__title {
        margin-top: 23px;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #111;
        font-weight: 700;
    }

    .goods-item__price {
        margin-top: 20px;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #111;
        font-weight: 600;
    }

    .goods-item__preview {
        position: relative;
        height: 200px;
        display: flex;
        justify-content: center;
        width: 100%;

        img {
            position: absolute;
            bottom: 0;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.goods-showMore {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.goods-item:nth-child(n + 13){
    display: none;

    &.is-visible {
        display: block;
    }
}