@import "../base/vars";
.product_page {
    padding-top: 96px;
    padding-bottom: 55px;

    @media (max-width: 999px) {
        padding-top: 55px;
    }

    @media (max-width: 699px) {
        padding-bottom: 75px;
    }

    @media (max-width: 499px) {
        padding-top: 40px;
    }

    .contacts {
        margin-top: 15px;
        position: unset;
    }

    .contacts__inner {
        position: unset;
    }
}

.product_info {
    display: flex;
    justify-content: space-between;

    @media (max-width: 999px) {
        display: block;
    }

    h1 {
        max-width: 700px;

        @media (max-width: 1199px) {
            max-width: 600px;
        }
    }
}

.product_nav {
    color: $product_nav;
    display: flex;
    margin-top: 20px;

    @media (max-width: 999px) {
        justify-content: end;
    }

    @media (max-width: 399px) {
        font-size: 14px;
    }

    a {
        color: inherit;
        text-decoration: none;
        transition: color .3s ease;
        display: flex;
        align-items: center;
        height: fit-content;

        svg {
            transition: all .3s ease;
        }

        &:hover {
            color: #111;

            svg {
                path {
                    fill: #111;
                }
            }
        }
    }

    .next_product {
        svg {
            transform: rotateZ(180deg);
        }

        span {
            margin-right: 12px;

            @media (max-width: 799px) {
                margin-right: 8px;
            }
        }
    }

    .prev_product {
        svg {
            margin-right: 12px;

            @media (max-width: 799px) {
                margin-right: 8px;
            }
        }

        margin-right: 22px;

        @media (max-width: 999px) {
            margin-right: 15px;
        }
    }
}

.product_content {
    margin-top: 40px;
}

.product_preview {
    display: flex;

    @media (max-width: 599px) {
        flex-direction: column;
    }
}

.preview_image {
    border: 1px solid $goodsborder;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40.25%;
    margin-right: 102px;

    @media (max-width: 999px) {
        margin-right: 55px;
    }

    @media (max-width: 599px) {
        width: 100%;
        height: 300px; 
    }


    img {
        max-width: 100%;
        padding: 25px;
    }
}

.preview_info {
    line-height: 233%;
    color: #111;

    @media (max-width: 599px) {
        margin-top: 20px;
    }

    .price {
        font-weight: 500;
        font-size: 32px;
        line-height: 150%;
        margin-top: 6px;

        @media (max-width: 399px) {
            font-size: 30px;
        }
    }

    .small_description {
        margin-top: 29px;

        span {
            margin-left: 15px;
        }

        p {
            display: flex;
            align-items: center;

            margin-bottom: 13px;
        }
    }
}

.addToCart {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;

    .stepper {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .btn--addToCart {
        width: 210px;
        height: 55px;
        color: $white;
        background-color: $dark;
        border: 1px solid $dark;
        transition: all .2s ease;

        &:hover {
            color: $dark;
            background-color: transparent;
        }
    }
}

.product_description {
    margin-top: 36px;
}

.product_tablist {
    display: flex;
    border-bottom: 1px solid $tablistborder;
}

.product_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;

    @media (max-width: 599px) {
        margin-right: 10px;
    }

    @media (max-width: 399px) {
        width: 35%;
    }
}

.tab-btn {
    border: none;
    background-color: transparent;
    line-height: 233%;
    padding: 10px 25px;

    font-size: 16px;
    cursor: pointer;

    @media (max-width: 599px) {
        padding: 10px 15px;
        line-height: 150%;
    }

    @media (max-width: 399px) {
        padding: 10px;
        font-size: 14px;
    }
}

.tab-btn--active {
    background-color: $light;
    pointer-events: none;
}

.tab_content {
    margin-top: 30px;
    display: none;

    p {
        color: #111;
        line-height: 150%;

        @media (max-width: 399px) {
            font-size: 14px;
        }
    }
}

.tab_content--active {
    display: block;
}

.popular {
    margin-top: 100px;

    @media (max-width: 768px) {
        margin-top: 70px;
    }
}

.popular_inner {
    display: flex;
    justify-content: space-between;

    h3 {
        margin-right: 10px;
    }
}

.popular_nav {
    display: flex;
    
}

.slider_prev, .slider_next {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slider_prev {
    transform: rotateZ(180deg);
    background-color: $sliderprev;
    margin-right: 20px;

    @media (max-width: 768px) {
        margin-right: 15px;     
    }
}

.slider_next {
    background-color: $dark;

    svg {
        fill: $white;
        path {
            fill: $white;
        }
    }
}

.popularSwiper {
    margin-top: 37px;
}
